body,html{background: #fff !important;}
.theme-form{  background: #fff !important; }
.theme-form .form-left{ width:100% !important;  max-width:100% !important; flex:0 0 100% !important; background: #fff !important;  }
.theme-form .form-right{ width:100% !important; margin-top:40px; max-width:100% !important; flex:0 0 100% !important; background: #fff !important;  }
.hide-on-print{ display:none; }
.removeitem{ display:none; }