.installmentoptionstitle {color: #cf0404; }
.campaigndetailstitle {color: #cf0404;}
.workingfeetitle {color: #cf0404}
.btn-danger {background-color: #cf0404 !important;}
.deliveryperiod {color:   #ff3019;}
.discountedworkingfee { color:  #ff3019; }
.totalcost { color:  #ff3019; }
.firstinstallment { color:  #ff3019; }
.installmenttitle { color: #cf0404; font-size: 10px; text-align: center; float: right; padding-top: 5px; padding-right: 3px;
     position: absolute; opacity:.7; width:38px; top:-29px; left:50%; margin-left:-19px; font-size:11px; line-height: 10px;}
/* .workingbutton {background-color: #cf0404; color: #eee; border-radius: 5px; padding: 0 0 0 0; margin: 0; border-color: transparent !important; width: 100% !important; height: 36px;  } 
.workingbutton :hover{ color: #aaa; border-radius: 5px; border-color: #fff; border-width: 7px;} */

