<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">

            <ngx-loading [show]="loading" [config]="{backdropBackgroundColour:'rgba(255,255,255,.5)',primaryColour:'#4580d0',secondaryColour:'#2e6fc9',tertiaryColour:'#1d64c5'}"></ngx-loading>
              
              <div class="card-body custom-datatable">

                  <input type='text' class="filter-ngx form-control" placeholder='Ara...' (keyup)='updateFilter($event)' />
                  <button type="button" class="btn btn-primary" (click)="addLink()"> Yeni Hesaplama Formu</button>
                 <!--[reorderable]="reorderable" -->
                  <ngx-datatable #table class='bootstrap' [columnMode]="'force'" [columns]="columns" 
                      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='tabledata'>
                  </ngx-datatable>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid Ends -->

<ng-template #status let-row="row" let-value="value" ngx-datatable-cell-template>
    {{ value==0?'Değerlendirmede':(value==1?'Teklif Verildi':'Sözleşme Yapıldı') }}
</ng-template>

<ng-template #actionButtons let-row="row" let-value="value" ngx-datatable-cell-template>
    <button md-icon-button (click)="viewLink(value)"><i class="fas fa-eye"></i></button>
    <button md-icon-button *ngIf="!row['cn']" (click)="editLink(value)"><i class="fas fa-pencil-alt" ></i></button>
</ng-template>

<ng-template #hdrTpl let-column="column" let-sort="sortFn" >
    <div (click)="sort()" class="pocusortbutton"><i class="fas fa-arrows-alt-v"></i></div>
    <div class="inputcontainer"><input type="text" placeholder="{{ column.name }}" (keyup)="updateColFilter($event, column.prop)" /></div>
</ng-template>