.user-information{ padding:5px 15px 0 15px; margin-bottom:25px; background:#f6f6f6; border:1px solid #eee; border-radius: 5px; }

.account-information{ padding:5px 15px 0 15px; margin-bottom:25px; background:#f6f6f6; border:1px solid #eee; border-radius: 5px; }

.address-information{ padding:5px 15px 0 15px; margin-bottom:25px; background:#f6f6f6; border:1px solid #eee; border-radius: 5px; }

.bignotes{min-height:300px !important;}